<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page not found</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="body">
    <center>
        <h1 style="color:white">404</h1>
        <h2 style="color:#f3f3f3">Page not found</h2>
        <p style="color:#ced4da">Sorry, but the page you were trying to view does not exist.</p>
    </center>
  </body>
</html>
