<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 - Internal Server Error</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="body">
    <center>
        <h1 style="color:white">500</h1>
        <h2 style="color:#f3f3f3">Internal Server Error</h2>
        <p style="color:#ced4da">
          Sorry, but the server has encountered a situation it doesn't know how to handle.
        </p>
      </center>
  </body>
</html>
