<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Questions - EduConnect LMS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="dashboard">
      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="logo">
          <img
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="Logo"
          />
        </div>
        <ul class="menu">
          <li>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
          </li>
          <li>
            <a href="{{ url_for('studygroups') }}" 
              >Study Groups</a
            >
          </li>
          <li>
            <a href="{{ url_for('discussionforums') }}" class="active">Discussion Forums</a>
          </li>
          <li><a href="{{ url_for('aitools') }}">AI Tools</a></li>
          <li><a href="{{ url_for('studysessions') }}">Study Sessions</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </aside>

      <!-- Main Content -->
      <main class="main-content">
        <header class="header">
          <div class="header-text">
            <h1>Forums</h1>
            <p>All posted forum qustions are listed</p>
          </div>
        </header>
        <section class="content">
          <div >
            <div>
              {% for question in questions %}
              <div class="widget" style="text-align:left">
                <h4>{{ question['title'] }}</h4>
                <p>
                  <strong>Category:</strong> {{ question['category'] }}
                </p>
                <p>
                  <strong>Description:</strong> {{ question['description'] }}
                </p>
              </div>
              {% endfor %}
          </div>
        </section>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
